*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../imagenes/fondo.png);
    background-size: cover;
}
header {
  display: flex; 
  align-items: center; 
  
  padding: 10px 20px; 
}
nav{
    max-width: 50em;
    margin: 0 auto;
    background-color: rgb(12, 67, 135);
    font-size: 1.4em;
    margin-top: 1em;
    margin-right: 0;/*determina la posicion derecha de la etiqueta*/
}
